.back-button {
  border-radius: 50%;
  border: #f8f9fa 1px solid;
  width: 36px;
  height: 36px;
  margin: 12px 6px;
  background-color: #198754;
}

.back-button:hover {
  background-color: #218838;
  cursor: pointer;
}

.back-button div {
  color: #f8f9fa;
  text-align: center;
  padding-top: 4px;
}
