.block-container {
  padding: 3em 1.5em;
  border: 3px solid #28a745;
}

h4 {
  text-align: center;
}

.lead.text-primary {

}

.field-control.max-age-text {
  margin-left: 0;
  margin-top: 2em;
  width: fit-content;
}

label.font-lg {
  font-size: 150%;
}

.selector {
  margin: 1.5em 0;
}

.form-group {
  width: 100%;
}

.inline {
  display: inline-block;
  margin-right: 0.5em;
}

select.inline {
  margin-left: 1.5em;
}

.custom-form {
  margin: 1.5em;
}

.number-field {
  width: 70px;
}

.block {
  display: block;
}

label.age-label {
  margin: 0.5em 0;
}

input.ng-invalid {
  border: 1px solid darkred;
}

.field-control {
  color: #007BFF;
  cursor: pointer;
  margin-left: 1.5em;
}

.field-control:hover {
  color: #212529;
}
