<div class="mt-3">
  <div class="visually-hidden">Id : {{copy.id}}</div>
  <div>Code objet : #{{copy.objectCode}}</div>
  <div *ngIf="copy$ | async as copy">
    <div class="col-md-6">
      <div class="visually-hidden">Date d'achat : {{copy.dateOfPurchase | date}}</div>
      <div>Date d'enregistrement : {{copy.dateOfRegistration| date}}</div>
      <div>Status d'activité : {{copy.generalState | enumToValue: GeneralStateEnum}}</div>
      <div>État d'usure : {{copy.wearCondition}}</div>
      <div>Emplacement :  {{copy.location}}</div>
      <div class="visually-hidden">Prix à l'achat : {{copy.price}}</div>

      <ng-container *ngIf="!copy.availableForLoan else loanable">
        <span class="badge bg-warning">Indisponible à l'emprunt</span>
      </ng-container>
      <ng-template #loanable>
        <span class="badge bg-info">Ouvert à l'emprunt</span>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div>{{copy.seller}}</div>
    </div>
  </div>
</div>
