grove-service/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
grove-webapp/.angular

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###

.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### SECRETS ####
secrets.properties

#### DOCKER ###

### Custom ###
!*.sql
!/src/main/resources/*.sql
!/src/main/resources/static/*

# compiled output
/grove-webapp/src/main/resources/dist/
/grove-webapp/dist
/grove-webapp/tmp
/grove-webapp/out-tsc

# dependencies
/grove-webapp/node_modules

# System Files
.DS_Store
Thumbs.db

# Configuration
/grove-webapp/src/environments/environment.prod.ts
/docker/pgadmin/servers.json
