<div class="block-container">
  <h4>Informations</h4>
  <form
    class="custom-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">

    <div class="selector">
      <label for="nature" class="inline font-lg">Type</label>
      <select
        id="nature"
        class="form-select w-auto inline"
        formControlName="gameNature">
        <option
          *ngFor="let nature of natureList"
          [value]="nature"
        >{{ actualEnumType[nature] }}
        </option>
      </select>
    </div>


    <div class="player-range">
      <div class="form-group">
        <label for="players" class="inline font-lg">Joueurs</label>
        <div formGroupName="numberOfPlayers"
             class="inline"
             id="players">
          <input
            id="minPlayers"
            type="number"
            formControlName="min"
            min="1"
            class="form-control inline number-field">
          <label for="minPlayers" class="inline">Min</label>
          <ng-container *ngIf="hasMaxP">
            <input
              id="maxPlayers"
              type="number"
              formControlName="max"
              min="0"
              class="form-control inline number-field"
            >
            <label for="maxPlayers" class="inline">Max</label>
          </ng-container>
        </div>
        <div class="lead inline field-control"
             *ngIf="!hasMaxP"
             (click)="onAddMaxP()">Définir un maximum
        </div>
        <div class="lead inline field-control"
             *ngIf="hasMaxP"
             (click)="onRemoveMaxP()">Retirer le champ 'Max'
        </div>
        <div
          class="form-text mt-4 mb-4"
          *ngIf="!form.get('numberOfPlayers.min').valid || !form.get('numberOfPlayers.max').valid">
          <i>Les champs doivent être renseignés.</i></div>
        <div
          class="form-text mt-4 mb-4"
          *ngIf="!form.get('numberOfPlayers').valid"><i>Fourchette invalide (Nombre de joueurs minimum doit être
          inférieur).</i></div>
        <div
          class="block mt-4 mb-4">{{ this.playerQuickDisplay }}</div>
      </div>
    </div>


    <div class="form-group">
      <label for="duration" class="font-lg">Durée

      </label>
      <span class="ml-2" *ngIf="!this.form.get('duration').valid"><i>20 caractères maximum !</i></span>
      <input
        id="duration"
        type="text"
        formControlName="duration"
        class="form-control">
    </div>


    <div class="age-range">
      <label for="age" class="font-lg">Âge</label>
      <div formGroupName="ageRange"
           id="age">
        <div class="age-line">
          <div class="inline" *ngIf="ageInYear">
            <label for="ageMin" class="age-label">Min</label>
            <input
              id="ageMin"
              type="number"
              formControlName="min"
              min="0"
              class="form-control number-field"
            >
          </div>
          <div class="inline" *ngIf="!ageInYear">
            <label for="monthMin" class="age-label">Min</label>
            <input
              id="monthMin"
              type="number"
              formControlName="month"
              min="0"
              class="form-control number-field"
            >
          </div>
          <div class="inline">{{ timeUnit }}
          </div>
          <div class="inline lead field-control" (click)="onSwitchToMonth()" *ngIf="ageInYear">En mois ?</div>
          <div class="inline lead field-control" (click)="onSwitchToYear()" *ngIf="!ageInYear">En Années ?</div>
        </div>
        <div class="age-line">
          <ng-container *ngIf="hasMaxA">
            <div class="inline">
              <label for="ageMax" class="age-label block">Max</label>
              <input
                id="ageMax"
                type="number"
                formControlName="max"
                min="0"
                class="form-control number-field">
            </div>
            <div class="inline">ans</div>
            <div class="inline lead field-control" (click)="onRemoveMaxA()">Retirer l'âge max
            </div>
          </ng-container>

          <div class="lead max-age-text field-control" (click)="onAddMaxA()" *ngIf="!hasMaxA">Définir un âge max
          </div>

        </div>
        <div
          class="form-text mt-4 mb-4"
          *ngIf="!form.get('ageRange.min').valid || !form.get('ageRange.max').valid || !form.get('ageRange.month').valid">
          <i>Les champs doivent être renseignés.</i></div>
        <div
          class="form-text mt-4 mb-4"
          *ngIf="!form.get('ageRange').valid"><i>Fourchette invalide (l'âge minimal doit être inférieur).</i></div>
        <div class="mt-4 mb-4">{{ this.ageRangeQuickDisplay }}</div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-success me-1 mb-1"
            [disabled]="!form.valid">Sauvegarder
          </button>
          <button
            type="button"
            class="btn btn-secondary me-1 mb-1"
            (click)="onCancel()"
          >Restaurer
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary me-1 mb-1"
            (click)="onBack()"
          >Retour
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
