<div [ngClass]="{'row sidebar': true , 'h-100': innerWidth >= '768' , 'h-auto': innerWidth < '768' }">
  <div
    class="col-md-2 bg-secondary"
    *ngIf="!isSideCollapsed">
    <!--innerWidth >= '768' && !isSideCollapsed -->
    <div class="row"
         routerLinkActive="bg-light">
      <a
        class="text-light"
        style="cursor:pointer;"
        routerLink="/admin/editor/games"
        routerLinkActive="text-dark"
      >Jeux</a>
    </div>
    <div class="row"
         routerLinkActive="bg-light">
      <a
        class="text-light ms-3"
        style="cursor:pointer;"
        routerLink="/admin/editor/mechanisms"
        routerLinkActive="text-dark"
      >Mécanismes</a>
    </div>
    <div class="row"
         routerLinkActive="bg-light">
      <a
        class="text-light ms-3"
        style="cursor:pointer;"
        routerLink="/admin/editor/categories"
        routerLinkActive="text-dark"
      >Catégories</a>
    </div>
    <div class="row"
         routerLinkActive="bg-light">
      <a
        class="text-light  ms-3"
        style="cursor:pointer;"
        routerLink="/admin/editor/creators"
        routerLinkActive="text-dark"
      >Auteurs</a>
    </div>
    <hr
      *ngIf="innerWidth >= '768'"
      class="side-splitter">

    <div class="row"
         routerLinkActive="bg-light">
      <a
        class="text-light ms-3"
        style="cursor:pointer;"
        routerLink="/admin/editor/publishers"
        routerLinkActive="text-dark"
      >Éditeurs</a>
    </div>

    <hr
      *ngIf="innerWidth >= '768'"
      class="side-splitter">

    <div class="row"
         routerLinkActive="bg-light">
      <a
        class="text-light"
        style="cursor:pointer;"
        routerLink="/admin/editor/configuration"
        routerLinkActive="text-dark"
      >Configuration</a>
    </div>

  </div>
  <div [ngClass]="{'col-md-10': innerWidth >= '768', 'col-md-12': innerWidth < '768'}">
    <router-outlet></router-outlet>
  </div>
</div>
