<div class="member-container">
  <h2>Sélection d'un adhérent</h2>
  <ng-container *ngIf="accounts$ | async as accounts; else loading">
    <ul class="list-group member-list" *ngFor="let account of accounts">
      <li class="list-group-item">
        <span><b>{{ account.username }}</b> | </span>
        <span class="text-monospace">{{ account.membershipNumber }} | </span>
        <span> {{ account.renewalDate | date }}</span>
        <span class="right-side-group">
          <span class="lead"><a class="select-link" (click)="onSelectMember(account.id)">Sélectionner</a></span>
          <span class="lead"><a class="details-link" (click)="onNavigateToDetail(account.id)">Détails</a></span>
        </span>

      </li>
    </ul>
  </ng-container>

  <ng-template #loading>
    <div class="member-list member-info">Chargement des données...</div>
  </ng-template>
</div>
