<nav class="navbar navbar-expand-md navbar-light bg-light">

<a class="navbar-brand" routerLink="/">Index</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav me-auto">
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          style="cursor:pointer;"
          *ngIf="authenticated() && isAdministrator"
          (click)="isMenuCollapsed = true; onOpenGamesNavbar()">Base de données de jeux</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link" style="cursor:pointer;"
          *ngIf="authenticated() && isAdministrator"
          (click)="isMenuCollapsed = true; onOpenLoansNavbar()">Prêts</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          style="cursor:pointer;"
          *ngIf="authenticated() && isAdministrator"
          (click)="isMenuCollapsed = true; onOpenMembersNavbar()">Adhérents</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-10">
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor:pointer;"
          *ngIf="!authenticated()"
          (click)="onLogin()">Se connecter</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor:pointer;"
          *ngIf="authenticated()"
          (click)="onLogout()">Déconnexion</a>
      </li>
    </ul>
  </div>

</nav>
