.block-container {
  padding: 3em 1.5em;
  border: 3px solid #28a745;
}


h4 {
  text-align: center;
}

ul {
  padding: 1.5em;
}

li {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}

.add-nav {
  padding: 0 1.5em;
}

.hover-control {
  display: none;
}

.category-line:hover .hover-control {
  display: inline;
}

.nav-link {
  width: fit-content;
}

.nav-link:hover {
  cursor: pointer;
}

.inline {
  display: inline-block;
}
