<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Suppression</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Êtes vous sûr de vouloir supprimer {{deletedObjectType}}
    <span class="text-primary">"{{deletedObjectName}}"</span> </strong></p>
  <p>Cette opération effacera l'entrée en base de données.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
</div>
