h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.loan-container {
  padding: 5rem;
}

.loan-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.loan-info {
  font-size: 100%;
  margin-top: 1rem;
}

.loan-details {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h4, .badge, .btn {
  margin: 3rem 0 1.5rem 0;
}

.btn {
  margin: 3rem;
}

@media (max-width: 900px) {
  .loan-list {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .loan-list {
    width: 95%;
  }
}
