 <div class="container">
  <div class="jumbotron">
    <div class="container-fuild">
      <h2 class="display-4">Composant en construction ! </h2>
      <p class="lead">Cette page a pour but de proposer un aperçu de la navigation dans
        l'application.
        La fonctionnalité sera disponible dans une version future.</p>
      <hr class="my-4">
      <p class="lead">Vous pouvez revenir à la navigation via les lien suivants.</p>
      <div class="row row-cols-md-auto align-items-center">
        <button type="button"
                class="btn btn-outline-primary btn-lg"
                routerLink="/"
        >Retourner à l'index
        </button>
        <button class="btn btn-outline-primary btn-lg"
             routerLink="/admin"
             *ngIf="authenticated()"
        >Aller à la page d'administration
        </button>
        <button class="btn btn-primary btn-lg"
             routerLink="/admin/lib"
             *ngIf="authenticated()"
        >Aller au catalogue de jeu
        </button>

      </div>
    </div>
  </div>
</div>
