<div class="grid-container">
  <div class="detail-panel">

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'name']">
      <h2>{{ game.title }}
        <span class="info text-primary lead">Éditer</span>
      </h2>
    </div>

    <div class="row">
      <div *ngFor="let copy of game.copies" class="col highlightable me-2"
           [ngClass]="{'active': copy.id === this.copyService.selected}"
           (click)="onEditCopy(copy.id)">
        <h4>Exemplaire : #{{copy.objectCode}}
          <span class="info text-primary lead">Éditer</span>
        </h4>
        <div>Date d'enregistrement : {{copy.dateOfRegistration | date}}</div>
      </div>

      <div class="col highlightable"
           [ngClass]="{'active': this.copyService.selected === -1}"
           (click)="onNewCopy()">

        <h4><i class="bi bi-plus-circle"></i> Ajouter un exemplaire
          <span class="info text-primary lead">Nouveau</span>
        </h4>
      </div>
    </div>


    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'categories']">
      <h4>Catégories
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <span *ngFor="let category of game.categories">
        <span class="bg-secondary badge me-1">{{ category.title }}</span>
      </span>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'mechanisms']">
      <h4>Mécanismes
        <span class="info text-primary lead">Éditer</span>
      </h4>

      <span *ngFor="let mechanism of game.mechanisms">
        <span class="bg-secondary badge me-1">{{ mechanism.title }}</span>
      </span>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'infos']">
      <h4>Informations
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div> {{ game.nature | enumToString }}</div>
      <div>{{ numberOfPlayers }}</div>
      <div *ngIf="game.playTime">{{ game.playTime }}</div>
      <div *ngIf="limitAge.length > 0">{{ limitAge }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'creators']">
      <h4 *ngIf="game.creators">Créateurs
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div *ngFor="let creator of game.creators">
        <span>{{ creator.role | enumToString }} : {{ creator.firstName }} {{ creator.lastName}}</span>
      </div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'description']">
      <h4>Description
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div *ngIf="game.description">{{ game.description }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'size']">
      <h4>Taille / encombrement
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div>{{ game.size }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'material']">
      <h4>Materiel
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div>{{ game.material }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'images']">
      <h4>Galerie
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <ngb-carousel *ngIf="game.imageIds && game.imageIds.length > 0" class="mb-2">
        <ng-template ngbSlide *ngFor="let image of images; let i = index">
          <div class="text-center">
            <img src="{{ image.content }}" class="img-fluid carousel-img m-4"
                 alt="{{ game.title }} - dataUriArray[{{ 2 }}]">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="edit-panel bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
