<div class="grid-container">
  <div class="detail-panel">

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'name']">
      <h2>{{ game.title }}
        <span class="info text-primary lead">Éditer</span>
      </h2>
    </div>

    <div class="row">
      <div *ngFor="let copy of game.copies" class="col highlightable me-2"
           routerLinkActive="active"
           [routerLink]="['/admin/locked-mode/games/' + game.id + '/edit/copy/' + copy.id]"
           (click)="onEditCopy()">
        <h4>Exemplaire #{{copy.objectCode}}
          <span class="info text-primary lead">Éditer</span>
        </h4>
      </div>

      <div class="col highlightable"
           routerLinkActive="active"
           [routerLink]="['/admin/locked-mode/games/' + this.game.id + '/edit/copy/new']"
           (click)="onNewCopy()">

        <h4><i class="bi bi-plus-circle"></i> Ajouter un exemplaire
          <span class="info text-primary lead">Nouveau</span>
        </h4>
      </div>
    </div>


    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'categories']">
      <h4>Catégories
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <span *ngFor="let category of game.categories">
        <span class="bg-secondary badge me-1">{{ category.title }}</span>
      </span>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'mechanisms']">
      <h4>Mécanismes
        <span class="info text-primary lead">Éditer</span>
      </h4>

      <span *ngFor="let mechanism of game.mechanisms">
        <span class="bg-secondary badge me-1">{{ mechanism.title }}</span>
      </span>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'infos']">
      <h4>Informations
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div> {{ game.nature | enumToString }}</div>
      <div>{{ numberOfPlayers }}</div>
      <div *ngIf="game.playTime">{{ game.playTime }}</div>
      <div *ngIf="limitAge.length > 0">{{ limitAge }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'creators']">
      <h4 *ngIf="game.creators">Créateurs
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div *ngFor="let creator of game.creators">
        <span>{{ creator.role | enumToString }} : {{ creator.firstName }} {{ creator.lastName}}</span>
      </div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'description']">
      <h4>Description
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div *ngIf="game.description">{{ game.description }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'size']">
      <h4>Taille / encombrement
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div>{{ game.size }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'material']">
      <h4>Materiel
        <span class="info text-primary lead">Éditer</span>
      </h4>
      <div>{{ game.material }}</div>
    </div>

    <div class="highlightable"
         routerLinkActive="active"
         [routerLink]="['/admin/locked-mode/games', game.id, 'edit', 'images']">
      <h4>Galerie -
<!--        <span class="lead">{{ game.imageIds.length > 1 ? game.imageIds.length + ' images associées'  :  game.imageIds.length + 'image associée' }}</span>-->
        <span class="info text-primary lead">Éditer</span>
      </h4>
    </div>
  </div>

  <div class="edit-panel bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
