<div class="container">
  <div *ngIf="authenticated()">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Grove</h1>
        <p class="lead">Bienvenue ! Pour commencer, sélectionnez une rubrique ci-dessus.</p>
        <hr class="my-4">
        <p class="lead">Vous pouvez également choisir un lien de raccourci.</p>
        <a class="btn btn-primary btn-lg" routerLink="/admin/loans/select-member">Nouvel adhérent</a>
        <a class="btn btn-primary btn-lg" routerLink="/admin/loans/select-member">Nouveau prêt</a>
        <a class="btn btn-secondary btn-lg" routerLink="/admin/editor/games/list">Liste des jeux</a>
      </div>
    </div>
  </div>
</div>
