<form
  [formGroup]="filterForm"
  (ngSubmit)="onFilter()">
  <div class="input-group mb-3" #keywordGroup>
    <label for="input"></label>
    <input
      class="form-control"
      id="input"
      formControlName="keyword">
    <div class="input-group-append">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="filterForm.invalid">Filtrer
      </button>
    </div>
    <div
      class="input-group-append"
      *ngIf="keywordGroup.offsetWidth >= 300">
      <button
        class="btn btn-secondary"
        type="button"
        ngbTooltip="Cliquez pour rafraîchir la liste"
        (click)="onRefreshList()">
        <img
          class=""
          src="assets/icons/arrow-cw.svg"
          alt="R"/>
      </button>

    </div>
    <div
      class="input-group-append"
      *ngIf="keywordGroup.offsetWidth >= 300">
      <button
        class="btn btn-secondary"
        type="button"
        ngbTooltip="Cliquez pour effacer la recherche"
        (click)="onDelete()"
        [disabled]="filterForm.invalid">
        <img
          src="assets/icons/x-square.svg"
          alt="X-square"
        />
      </button>
    </div>
  </div>
</form>
