<hr/>
<div [formGroup]="contactForm">
  <h5>Coordonnées</h5>
  <div class="row mb-3">

    <div class="form-group visually-hidden">
      <label for="streetNumber">Numéro</label>
      <input
        id="streetNumber"
        type="text"
        formControlName="streetNumber"
        class="form-control">
    </div>

    <div class="form-group col">
      <label for="street">Adresse</label>
      <input
        id="street"
        type="text"
        formControlName="street"
        class="form-control">
    </div>

  </div>

  <div class="row mb-3">

    <div class="form-group col-md-4">
      <label for="city">Ville</label>
      <input
        id="city"
        type="text"
        formControlName="city"
        class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label for="postal">Code postal</label>
      <input
        id="postal"
        type="number"
        formControlName="postalCode"
        class="form-control">
    </div>
  </div>

  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="country">Pays</label>
      <select
        id="country"
        class="form-select w-auto"
        formControlName="country">
        <option
          *ngFor="let country of countries"
          [value]="country">{{ country }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mb-3">

    <div class="form-group col-md-4">
      <label for="phoneNumber">Téléphone</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">☏</span>
        </div>
        <input
          id="phoneNumber"
          type="tel"
          formControlName="phoneNumber"
          class="form-control">
      </div>
    </div>


    <div class="form-group col-md-4">
      <label for="mailAddress">Mail</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input
          id="mailAddress"
          type="email"
          formControlName="mailAddress"
          class="form-control">
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="website">Site web</label>
      <input
        id="website"
        type="text"
        formControlName="website"
        class="form-control">
    </div>

  </div>
</div>
