<form
  [formGroup]="creatorForm"
  (ngSubmit)="onSubmit()">
  <h5>{{ label }}</h5>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="firstname">Prénom</label>
      <input
        id="firstname"
        type="text"
        formControlName="firstName"
        class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Nom</label>
      <input
        id="lastname"
        type="text"
        formControlName="lastName"
        class="form-control">
    </div>
  </div>

  <span class="form-text"
        *ngIf="!creatorForm.pristine && creatorForm.errors?.namesExist">
  <span>Cet auteur existe déjà en base de données</span>
  </span>

  <div class="form-row">

    <div class="form-group col-md-12">
      <label for="role">Rôle</label>
      <select
        id="role"
        class="form-select w-auto"
        formControlName="role">
        <option
          *ngFor="let role of rolesList"
          [value]="role">{{ role | enumToValue: actualEnumType }}
        </option>
      </select>
    </div>

  </div>

  <app-contact-form
    *ngIf="hasContact"
    [contactForm]="contactForm">
  </app-contact-form>

  <div class="form-row mt-2">
    <div class="col-xl-12">
      <button
        type="submit"
        class="btn btn-success me-1 mb-1"
        [disabled]="!creatorForm.valid">Sauvegarder
      </button>
      <span class="x-spacer"></span>
      <button
        type="button"
        class="btn btn-outline-secondary me-1 mb-1"
        (click)="onCancel()">Annuler
      </button>
      <span class="x-spacer"></span>
      <button
        type="button"
        class="btn btn-secondary me-1 mb-1"
        *ngIf="!hasContact"
        (click)="onAddContactForm()">Ajouter les coordonnées
      </button>
      <button
        type="button"
        class="btn btn-outline-danger me-1 mb-1"
        *ngIf="hasContact"
        (click)="onRemoveContactForm()">Retirer les coordonnées
      </button>
    </div>
  </div>
</form>
