<div class="member-container">
  <h2>Détail du compte</h2>
  <div class="member-details" *ngIf="account$ | async as account; else loadingOrError">

    <div class="member-info"><b>Pseudo :</b> {{ account.username }}</div>
    <div class="member-info"><b>Prénom :</b> {{ account.firstName }}</div>
    <div class="member-info"><b>Nom :</b> {{ account.lastName }}</div>
    <div class="member-info"><b>Numéro d'adhérent(e) :</b> {{ account.membershipNumber }}</div>
    <div class="member-info"><b>Date d'adhésion :</b> {{ account.renewalDate | date }}</div>

    <ng-container *ngIf="account.contact && account.contact.mailAddress">
      <div class="member-info"><b>Adresse email :</b> {{ account.contact.mailAddress }}</div>
    </ng-container>
  </div>

  <ng-template #loadingOrError>
    <div *ngIf="loadingError$ | async as error; else loading" class="member-details member-info">Une erreur est
      survenue... 404
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="member-details member-info">Chargement des données...</div>
  </ng-template>

</div>
