h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.member-container {
  padding: 5rem;

}

.member-info {
  font-size: 125%;
  margin-top: 1rem;
}


.member-details {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 900px) {
  .member-details {
    width: 70%;
  }
}

@media (max-width: 720px) {
  .member-details {
    width: 90%;
  }
}
