<app-simple-filter-form
  [filterForm]="filterForm"
  (clickFilter)="onFilter()"
  (clickRefresh)="onRefreshList()"
  (clickDelete)="onDelete()"></app-simple-filter-form>

<div class="y-spacer"></div>
<ul class="list-group">
  <li *ngFor="let game of games"
      style="cursor: pointer;"
      routerLinkActive="active"
      class="list-group-item list-group-item-action"
      [routerLink]="['/admin/editor/games/detail', game.id]">
    {{game.title}} (id:{{game.id}})
  </li>
</ul>
<div class="y-spacer"></div>

<ngb-pagination
  [collectionSize]="totalElements"
  [pageSize]="pageSize"
  [(page)]="page"
  (pageChange)="onPageChange($event)"></ngb-pagination>

<hr/>

<button
  class="btn btn-secondary me-1 mb-3"
  type="button"
  routerLink="/admin/locked-mode/games/new/basics">Nouveau jeu
</button>
<button
  class="btn btn-secondary me-1 mb-3"
  type="button"
  (click)="onRefreshList()">Rafraichir la liste
</button>
