 <div class="container">
  <div class="jumbotron">
    <div class="container-fuild">
      <h2 class="display-4">Page d'administration</h2>
      <p class="lead">Choisissez l'une des rubriques dans la barre de navigation ci-dessus</p>
      <hr class="my-4">
      <p class="lead">Vous pouvez aussi naviguez via les lien suivants :</p>
      <div class="row row-cols-md-auto align-items-center">
        <button class="btn btn-outline-primary btn-lg"
                routerLink="/admin/loans"
        >Gérer les prêts
        </button>
        <button class="btn btn-outline-primary btn-lg"
                routerLink="/admin/lib"
        >Voir les adhérents
        </button>
        <button type="button"
                class="btn btn-primary btn-lg"
                routerLink="/admin/lib"
        >Aller au catalogue de jeu
        </button>
      </div>
    </div>
  </div>
</div>
