<div class="row">
  <div class="col-md-12">
    <div class="text-bg-light p-3 border rounded mb-5">
      <h2>{{ game.title }}</h2>
      <div class="float-right">
        <button class="btn btn-success mb-1"
                type="button"
                (click)="onEdit()">Mode édition
        </button>
      </div>
      <app-copies-control
        [copies]="game.copies"
        [gameId]="game.id">
      </app-copies-control>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-4">
    <h4>Catégories</h4>
    <span *ngFor="let category of game.categories">
     <span class="bg-secondary badge me-1 mb-1">{{ category.title }}</span>
    </span>
  </div>
  <div class="col-md-4">
    <h4>Mécanismes</h4>
    <span *ngFor="let mechanism of game.mechanisms">
     <span class="bg-secondary badge me-1 mb-1">{{ mechanism.title }}</span>
    </span>
  </div>
  <div class="col-md-4">
    <ng-container *ngIf="game.creators">
      <h4>Créateurs</h4>
      <div *ngFor="let creator of game.creators">
        <span>{{ creator.role | enumToString }} : {{ creator.firstName }} {{ creator.lastName}}</span>
      </div>
    </ng-container>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-8">
    <div *ngIf="game.description">
      <h4>Description</h4>
      <div>{{ game.description }}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5> {{ game.nature | enumToString }}</h5>
        <h5>{{ numberOfPlayers }}</h5>
        <h5 *ngIf="game.playTime">{{ game.playTime }}</h5>
        <h5 *ngIf="limitAge.length > 0">{{ limitAge }}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-12">
    <h4>Galerie</h4>
    <app-images-viewer>
    </app-images-viewer>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="mt-5">Taille / encombrement</h4>
    <div>{{ game.size }}</div>
    <h4 class="mt-5">Materiel</h4>
    <div>{{ game.material }}</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6"></div>
  <div class="col-lg-6 mt-5 ">
    <div class="float-right">
      <button class="btn btn-warning me-1 mb-1"
              type="button"
              (click)="onBack()">
        <img
          src="../../../../assets/icons/arrow-left.svg"
          alt="X-square"/>
      </button>
      <button class="btn btn-success me-1 mb-1"
              type="button"
              (click)="onEdit()">Mode édition
      </button>
      <button class="btn btn-danger mb-1"
              type="button"
              (click)="onDelete()">Supprimer le jeu
      </button>
    </div>
  </div>
</div>
<div class="row mt-5 mb-5">
  <div class="col-md-12">
    <h4 class="text-primary">
      <span (click)="toggleRuleDisplay()" style="cursor: pointer;">
      Afficher / masquer les règles</span></h4>
  </div>
</div>
<div *ngIf="areRulesDisplayed">
  <div class="col-md-12">
    <hr>
    <div *ngIf="game.goal" class="mt-5">
      <h4>But du jeu</h4>
      <p>{{ game.goal }}</p>
    </div>
    <div *ngIf="game.rules" class="mt-5">
      <h4>Règles</h4>
      <p>{{ game.rules }}</p>
    </div>
    <div *ngIf="game.variant" class="mt-5">
      <h4>Variantes</h4>
      <p>{{ game.variant }}</p>
    </div>
    <span class="mb-5"></span>
  </div>
</div>
