<div class="block-container">
  <h4>Taille / encombrement</h4>
  <form
    class="custom-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="gameSize"></label>
      <input
        id="gameSize"
        type="text"
        formControlName="gameSize"
        class="form-control">
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <button
          type="submit"
          class="btn btn-success me-1 mb-1"
          [disabled]="!form.valid">Sauvegarder
        </button>
        <button
          type="button"
          class="btn btn-secondary me-1 mb-1"
          (click)="onCancel()"
        >Restaurer
        </button>
        <button
          type="button"
          class="btn btn-warning me-1 mb-1"
          (click)="onBack()"
        >Retour
        </button>
      </div>

    </div>
  </form>
</div>
