.block-container {
  padding: 3em 1.5em;
  border: 3px solid #28a745;
}

h4 {
  text-align: center;
}

.creator-handler-body {
  margin: 1.5em 0;
}

li {
  list-style: none;
}

.name {
  font-size: 125%;
}

.role {
  font-size: 100%;
}

.name, .role {
  cursor: default;
}

.creator-control {
  display: none;
  color: #007BFF;
}

.creator-control:hover {
  color: #212529;
  width: fit-content;
  cursor: pointer;
}

.creator-line:hover .creator-control {
  display: inline;
}

.add-nav {
  padding: 1.5em 1.5em;
}

.nav-link {
  width: fit-content;
}

.nav-link:hover {
  cursor: pointer;
}

.picker-component {
  padding: 2em 2em 0.5em;
}

.inline {
  display: inline-block;
}
