<div *ngIf="!authenticated()">
  <form class="form" [formGroup]="form" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="usernameLabel" class="form-label">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="usernameLabel" formControlName="username">
    </div>
    <div class="mb-3">
      <label for="passwordLabel" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="passwordLabel" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
  </form>
</div>
